.chart-type {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  min-width: 300px;
  max-width: 100vw;
  /* background: var(--panelBgColor); */
  /* box-shadow: 0 0 1em #000;  */
  z-index: 10;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  transition-property: transform, opacity;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.chart-type-toggle {
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0.25em 0.125em;
  width: 2.5em;
  height: 2.5em;
  background-image: url('./images/chart-type.svg');
  background-size: 80% 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 11;
  cursor: pointer;
  /* border-radius: 0.02em; */
  background-color: rgba(0, 0, 0, 0.85);
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  transition-property: background-color;

}
