.filter {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 30%;
  min-width: 100px;
  max-width: 100vw;
  /* background: var(--panelBgColor); */
  /* box-shadow: 0 0 1em #000;  */
  z-index: 10;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  transition-property: transform, opacity;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}



.chart-type-toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 12.75em 0.125em;
  width: 2.5em;
  height: 2.5em;
  background-image: url('./images/chart-type.svg');
  background-size: 80% 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 11;
  cursor: pointer;
  /* border-radius: 0.02em; */
  background-color: rgba(0, 0, 0, 0.85);
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  transition-property: background-color;

}

.filter-position {
  top: 0;
  margin: 0.25em 0.125em;
}

.slider-labels {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 3.5em;
  right: 0;
  overflow: auto;
}

.slider-labels.assumptions {
  top: 0.25em;
}

.slider-labels.goals {
  top: 1.75em;
}

.slider-labels.approaches {
  top: 3.25em;
}

.slider-labels.sagas {
  top: 4.75em;
}

.slider-labels.improvements {
  top: 6.25em;
}

.slider-labels.patterns {
  top: 7.75em;
}

.slider-labels.orphans {
  top: 9.25em;
}

.slider-labels.chart-type {
  top: 13.25em;
}

.slider-labels.priority {
  top: 10.75em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  top: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(204, 204, 204);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #bedbf3;
}

input:checked+.slider.pattern {
  background-color: #E91E63;
}

input:checked+.slider.improvement {
  background-color: #ff9e6d;
}

input:checked+.slider.assumption {
  background-color: #86cbff;
}

input:checked+.slider.saga {
  background-color: #9e79db;
}

input:checked+.slider.approach {
  background-color: #fff686;
}

input:checked+.slider.goal {
  background-color: #c2e5a0;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

::placeholder {
  color: #888;
}
